<!DOCTYPE html>
<html>

<head>
    <title> Smart Riots </title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <header>
        <!--navigation bar with logo and other pages link buttons-->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Smart Riots</a>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNav">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a href="#" class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutanimals">About Animals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/adopt">Adopt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Our Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>